header,
.marca,
.carrinho {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header {
  justify-content: space-between;
  width: 100%;
}
.marca {
  cursor: pointer;
  img {
    width: 4em;
    height: auto;
    margin-right: 5%;
  }
  h2 {
    color: black;
    font-weight: 800;
    font-size: 2em;
  }
}
.carrinho {
  span {
    font-size: 1.2em;
    font-weight: 500;
    color: black;
  }
}
