.mat-dialog-container {
  padding: 0;
}

.modal {
  min-width: 40em;
  h2 {
    color: #5d5d5d !important;
    font-size: 1.125em !important;
    white-space: pre;
  }

  .fechar {
    width: 1.875rem;
    min-width: initial;
    height: 1.875rem;
    line-height: 1.875rem;
    padding: initial;
    color: #707070;
    background-color: transparent;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
  }

  .fechar:hover {
    color: #6a5aff;
    border-color: #6a5aff;
    fill: #6a5aff;
  }

  .capitalize {
    text-transform: capitalize;
  }
}

.modal i {
  color: #5d5d5d !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.content {
  h1,
  h2 {
    text-align: center;
    font-weight: 600;
  }

  h1 {
    color: #6a5aff;
    font-size: 1.5em;
    margin-bottom: 0.825em;
    font-weight: 600;
  }

  h2 {
    color: #5d5d5d;
    font-size: 1em !important;
    font-weight: 400;
  }
}
