.card-shop {
  background: url('/assets/images/bg-bolas.jpeg') no-repeat center center;
  background-size: cover;
  border-radius: 30px;
  height: 50vh;
  padding: 2.5%;
  .linha {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    .migalha,
    .detalhes-listagem {
      display: flex;
      width: 20%;
      p {
        font-size: 1em;
        font-weight: 400;
        display: flex;
        align-items: center;
        i {
          cursor: pointer;
        }
      }
    }
    .migalha {
      justify-self: flex-start;
    }
    .detalhes-listagem {
      justify-content: flex-end;
      i {
        color: black;
      }
    }
    .titulo {
      width: 80%;
      h1 {
        color: black;
        font-size: 3em;
        font-weight: 600;
        width: 100%;
        text-align: center;
      }
    }
  }
}
$bg-color: #ffe2cd;
$dot-color: #f8ae7a;
$dot-size: 1px;
$dot-space: 22px;
.produto,
.produto-destaque {
  flex: 1 1 auto;
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  border-radius: 30px;
  padding: 2%;
  min-height: 20em;
  .acoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .img-produto {
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      height: auto;
    }
  }
  .detalhes-produto {
    text-align: center;
    font-size: 1.3em;
    color: #45409c;
    h4 {
      margin: 4%;
    }
  }
  div {
    i {
      color: #636363;
    }
  }
}
.produtos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.produto-destaque {
  display: flex;
  flex: 0 1 80% !important;
  margin: auto;
  margin-top: -20%;
  margin-bottom: 2.5%;
  padding: 5%;
  .esquerda,
  .direita {
    width: 30%;
  }
  .meio {
    width: 40%;
    height: 100%;
  }
  .imagem-produto {
    display: flex;
    justify-content: center;
    background-image: url('/assets/images/bg-destaque.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    img {
      width: 60%;
      height: auto;
    }
  }
  .titulo-produto {
    color: #45409c;
    font-size: 24px;
  }
  .preco-produto {
    h4 {
      color: #45409c;
      font-size: 32px;
      width: 100%;
      text-align: center;
    }
  }
  .descricao-produto {
    width: 80%;
    color: #848185;
    font-size: 28px;
    margin: 1em 0;
  }
  .avaliacao-produto {
    display: flex;
    flex-direction: row;
    align-items: center;
    .stars {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    i {
      color: #fdc20c;
      margin: 1%;
      width: 1em;
      font-weight: 500;
      font-size: 2em;
    }
  }
  .miniaturas-produto {
    display: flex;
    margin-top: 3em;
    .miniatura-produto {
      cursor: pointer;
      margin: 0 2%;
      &first-of-type {
        margin-left: 0;
      }
      img {
        width: 5em;
        height: auto;
        border-radius: 20px;
      }
    }
  }
  .cores-produto {
    display: flex;
    flex-direction: row;
    margin: 5% auto;
    .cor-produto {
      cursor: pointer;
      width: 3em;
      height: 3em;
      margin: 0 5%;
      background: blue;
      border-radius: 50%;
      border: 3px solid transparent;
      &:nth-of-type(1) {
        background: red;
      }
      &:nth-of-type(2) {
        background: yellow;
      }
      &:nth-of-type(3) {
        background: brown;
      }
    }
    .cor-selecionada {
      border-color: white;
    }
  }
  .tamanhos-produto {
    display: flex;
    flex-direction: row;
    margin: 5% auto;
    div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: fit-content;
      .tamanho-produto {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28%;
        flex: 1 1 auto;
        margin-bottom: 5%;
        .opcao {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff1d3;
          border-radius: 5px;
          height: 2em;
          width: 4em;
          font-size: 1.4em;
          color: black;
          &.selecionada {
            background-color: #fdc20c;
          }
        }
      }
    }
  }
  .chamada-produto {
    margin-top: 20%;
    button {
      background-color: black;
      border-radius: 15px;
      font-weight: 600;
      color: #fdc20c;
      font-size: 1.3em;
      width: 10em;
      height: 3em;
      border: none;
      cursor: pointer;
    }
  }
  .avaliacao-produto,
  .cores-produto,
  .tamanhos-produto {
    span {
      font-weight: 500;
      font-size: 1.2em;
    }
  }
}
@media all and (min-width: 768px) {
  .produtos {
    padding: 4% 8%;
    .produto {
      margin: 1% 2%;
      width: 24%;
    }
  }
}
@media all and (max-width: 767px) {
  .produtos {
    padding: 11% 8%;
    .produto {
      width: 100%;
      padding: 10%;
      margin: 2.5% 0;
    }
  }
  .card-shop > .linha > .titulo {
    width: 100%;
  }
  .card-shop > .linha > .migalha,
  .card-shop > .linha > .detalhes-listagem {
    display: none !important;
  }
  .produto-destaque {
    flex-direction: column;
    margin-top: -95%;
  }
  .esquerda,
  .meio,
  .direita {
    width: 100% !important;
  }
}
