<div class="card-shop">
  <div class="linha">
    <div class="migalha">
      <p>
        <span class="branco" routerLink="/produtos">Home&nbsp;</span> / Product
      </p>
    </div>
    <div class="titulo">
      <h1>Product Details</h1>
    </div>
    <div class="detalhes-listagem">
      <p>
        Next Product
        <i
          class="material-icons-outlined"
          [routerLink]="'/produto/' + (produto?.codigo - 1)"
          >arrow_back</i
        >
        <i
          class="material-icons-outlined"
          [routerLink]="'/produto/' + (produto?.codigo + 1)"
          >arrow_forward</i
        >
      </p>
    </div>
  </div>
</div>
<div class="linha">
  <div class="produto-destaque">
    <div class="esquerda">
      <div class="titulo-produto">
        <h1>
          <b>{{ produto?.nome }}</b>
        </h1>
      </div>
      <div class="descricao-produto">
        Nike`s air orce 1s were among the most popular sneakers this year.
      </div>
      <div class="miniaturas-produto">
        <div class="miniatura-produto">
          <img src="/assets/images/tenis-thumb.png" alt="Tenis Miniatura" />
        </div>
        <div class="miniatura-produto">
          <img src="/assets/images/tenis-thumb.png" alt="Tenis Miniatura" />
        </div>
        <div class="miniatura-produto">
          <img src="/assets/images/tenis-thumb.png" alt="Tenis Miniatura" />
        </div>
      </div>
    </div>
    <div class="meio">
      <div class="imagem-produto">
        <img src="/assets/images/tenis-sem-bg.png" [alt]="'Tenis'" />
      </div>
      <div class="preco-produto">
        <h4>${{ produto?.valor }}</h4>
      </div>
    </div>
    <div class="direita">
      <div class="avaliacao-produto">
        <span>Review:</span>
        <div class="stars">
          <i
            *ngFor="let number of [0, 1, 2, 3, 4]"
            class="material-icons-outlined"
            >start_rate</i
          >
        </div>
        <span>{{ produto?.avaliacao }} (6)</span>
      </div>
      <div class="cores-produto">
        <span>Color:</span>
        <div
          *ngFor="let cor of cores"
          (click)="cor.selecionado = cor.selecionado === false ? true : false"
          [ngClass]="
            cor.selecionado === true
              ? 'cor-produto cor-selecionada'
              : 'cor-produto'
          "
        ></div>
      </div>
      <div class="tamanhos-produto">
        <span>Size:</span>
        <div>
          <div *ngFor="let tamanho of tamanhos" class="tamanho-produto">
            <div
              class="opcao"
              (click)="
                tamanho.selecionado =
                  tamanho.selecionado === false ? true : false
              "
              [ngClass]="tamanho.selecionado === true ? 'selecionada' : null"
            >
              {{ tamanho.valor }}
            </div>
          </div>
        </div>
      </div>
      <div class="chamada-produto">
        <button
          class="adicionar-ao-carrinho"
          (click)="adicionarAoCarrinho(produto)"
        >
          Add to cart
        </button>
      </div>
    </div>
  </div>
</div>
<div class="linha">
  <div class="produtos">
    <div class="linha">
      <div class="titulo produtos-relacionados">
        <h1>Related Product</h1>
      </div>
    </div>
    <div
      class="produto"
      *ngFor="let produtoRelacionado of produtosRelacionados"
    >
      <div class="acoes">
        <div class="ver">
          <i
            class="material-icons-outlined"
            (click)="verProduto(produtoRelacionado)"
            >settings_overscan</i
          >
        </div>
        <div class="comprar">
          <i
            class="material-icons-outlined"
            (click)="adicionarAoCarrinho(produtoRelacionado)"
            >shopping_bag</i
          >
        </div>
      </div>
      <div class="imagem-produto">
        <img
          src="/assets/images/tenis.png"
          [alt]="'Tenis-' + produtoRelacionado.nome"
        />
      </div>
      <div class="detalhes-produto">
        <h4>
          <b>{{ produtoRelacionado.nome }}</b>
        </h4>
        <h4>${{ produtoRelacionado.valor }}</h4>
      </div>
    </div>
  </div>
</div>
